<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814581214597-b0sncqp5ln1puk74agkar97q690lj3ca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814581214597-b0sncqp5ln1puk74agkar97q690lj3ca</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>814581214597-48n1e695vmg3joggfqjhpc3n8d22q0q5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB935DxtaxrNfo5gCx-Nxcp9xM0YABYOb0</string>
	<key>GCM_SENDER_ID</key>
	<string>814581214597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testProject</string>
	<key>PROJECT_ID</key>
	<string>testdemo-f9c90</string>
	<key>STORAGE_BUCKET</key>
	<string>testdemo-f9c90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814581214597:ios:870efac934791b682028ec</string>
	<key>DATABASE_URL</key>
	<string>https://testdemo-f9c90-default-rtdb.firebaseio.com</string>
</dict>
</plist>